main {
    margin: 20px;
}

.add-team {
    margin: 50px !important;
    padding: 50px;
}

.admin-panel-title {
    font-size: 2em;
    margin-top: 130px;
    font-weight: bold;
}


/* .team-info {
    margin: 30;
} */