.team-box-title {
  margin-top: 150px;
  margin-left: 25px;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-team-box-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  width: 97%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-container {
  padding: 20px;
  padding-top: 40px;
  height: 55em;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.sub-title-box {
  display: flex;
}

.sub-title {
  margin-left: 15px;
  font-size: 10px;
  font-weight: 400;
}

.game-record {
  padding: 16px;
  color: rgba(56, 56, 56, 0.74);
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 14px;
  font-weight: 650;
  margin-top: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: 150px;
}

.game-record:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.g-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t1 {
  font-size: 20px;
}

.team-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.team-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.logo-box {
  border-radius: 45px;
  height: 90px;
  width: 90px;
  overflow: hidden;
}

.logo-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info > a {
  color: inherit;
}

@media (max-width: 1200px) {
}

@media (max-width: 767px) {
  .team-box-title {
    margin-top: 150px;
    margin-left: 0px;
    font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    width: 95%;
    height: 50px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.849);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub-team-box-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    width: 97%;
    height: 50px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.849);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.i-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
