body {
  background-color: rgba(236, 236, 236, 0.945);
}

#post-schedule {
  display: none;
}

.admin #post-schedule {
  display: initial;
}

.fa-edit {
  display: none;
}

.admin .fa-edit {
  display: initial;
}

.fa-trash-alt {
  display: none;
}

.admin .fa-trash-alt {
  display: initial;
}

.fa-check-circle {
  display: none;
}

.admin .fa-check-circle {
  display: initial;
}

.fa-plus-square {
  display: none;
}

.admin .fa-plus-square {
  display: initial;
}

.fa-minus-square {
  display: none;
}

.admin .fa-minus-square {
  display: initial;
}

a {
  text-decoration: none;
}

div.news-initbox a {
  color: black;
}

.dropdown-toggle::after {
  display: none !important;
}

.features-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box1 {
  overflow: hidden;
  height: 10em;

  margin-top: 1em;
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box1-2 {
  overflow: hidden;
  height: 10em;

  margin-top: 1em;
  margin-left: 10px;
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box1-1 {
  height: 21em;
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.headline-box {
  height: 31em;
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 720px) {
  .headline-box {
    margin-top: 1em;
  }
  .row2 {
    margin-left: 0.5em;
    margin-right: 0.5em !important;
  }

  .row1 {
    margin-left: 0.5em !important;
  }
}

.box2 {
  height: 100px;
  background-color: darkgrey;
  border: 2px solid #fff;
}

.row1 {
  margin-right: 0.5em;
  margin-left: 1em;
}

.row2 {
  margin-right: 1em;
}

.grid-con {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 1em;
}

.row-mar {
  margin-top: 2em;
}

.counting-board {
  margin-top: 16px;
  height: 11em;
  background-color: rgba(236, 236, 236, 0.945);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.count-box {
  padding: 7px;
  margin: 0% !important;
  background-color: white;
  height: 104px;
  border: 2px solid rgba(236, 236, 236, 0.945);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.counting-row {
  margin-top: 70px;
}

.silder {
  margin-left: 3em !important;
  margin-right: 3em !important;
}

.arrow_prev {
  position: absolute !important;
  font-size: 30px;
  top: 60%;
  left: 15px;
}

.arrow_next {
  position: absolute !important;
  font-size: 30px;
  top: 60%;
  right: 15px;
}

.count-time {
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 14px;
  font-weight: 650;
}

.time-box {
  display: flex;
  justify-content: space-between;
  margin-top: 6.5px;
  width: 160px;
}

.gray {
  color: gray;
}

.img {
  position: absolute;
}

.team-name {
  margin-left: 30px;
}

.news-initbox {
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  align-items: center;
}

.news-initboxtop {
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 14px;
  font-weight: 650;
  padding: 10px;
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.hight-light-box {
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hight-light-video-box {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  height: 220px;
  width: 260px;
  overflow: hidden;
}

.hight-light-video-box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hight-light-title {
  color: black;
  margin: 10px;
}

.hight-light-playbutton {
  color: rgba(236, 236, 236, 0.486);
  font-size: 50px;
  position: absolute;
  margin-left: 100px;
  margin-top: 35px;
}

.hight-light-playbutton:hover {
  color: rgba(255, 255, 255, 0.527);
  font-size: 60px;
  margin-left: 95px;
  margin-top: 30px;
}

.standings {
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 14px;
  font-weight: 650;
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
}

.standings-box {
  margin-top: 2em;
  height: 45em;
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standing-title {
  padding: 16px;
  margin-top: 15px;
  background-color: rgba(56, 56, 56, 0.74);
  width: 100%;
  height: 50px;
}

.standing-team {
  padding: 16px;
  color: rgba(56, 56, 56, 0.74);
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 14px;
  font-weight: 650;
  margin-top: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: 50px;
}

.t2 {
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 14px;
  font-weight: 650;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  padding-bottom: 10px;
  margin-left: 11px;
  margin-top: 1.5em;
}

.foorer {
  height: 400px;
}

footer {
  margin-top: 100px;
}

.modal-body,
.modal-footer {
  text-align: center;
}

#match_away_team_score, #match_home_team_score {
font-size: 20px;
width: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#match_day, #match_month {
  width: 35px;
}

.standingsTeamIMG {
  height: 55px;
  width: 55px;
}