.team-box-title {
  margin-top: 150px;
  margin-left: 25px;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 5px;
  height: 200px;
  width: 95%;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
}

.team-box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.team-name {
  color: rgb(83, 83, 83);
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.imgsize {
  width: 380px;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgb(104, 104, 104);
}

.h1 {
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: rgb(104, 104, 104);
}

.date {
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(104, 104, 104);
  display: flex;
  justify-content: flex-end;
}

.img-div {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.team-container-a {
  padding: 50px;
  height: 40em;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 2em;
  justify-content: center;

}
