.team-box-title {
  margin-top: 150px;
  margin-left: 25px;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-team-box-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  width: 97%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-container {
  padding: 20px;
  padding-top: 40px;
  height: 110em;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.logo-box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 165px;
  height: 330px;
  width: 330px;
}

.team-name {
  color: rgb(83, 83, 83);
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.info-box {
  padding: 48px;
  height: 180em;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sub-title-box {
  display: flex;
}

.sub-title {
  margin-left: 15px;
  font-size: 10px;
  font-weight: 400;
}

.info-text {
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 20px;
  font-weight: 450;
}

.players {
  margin: 5px;
}

.players-info-container {
  position: absolute;
  margin-top: 370px;
}

.players-info {
  padding-top: 20px;
  background-color: darkblue;
  height: 80px;
  width: 700px;
  padding: 10px;
  padding-right: 10px;
  font-family: Roboto Condensed, Arial, sans-serif;
}

.playername-cn-posts {
  margin-top: 10px;
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
}
.player-info {
  color: whitesmoke;
  font-family: Roboto Condensed, Arial, sans-serif;
}
.players-title {
  margin-left: 25px;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

table {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

tbody > tr {
  padding: 16px;
  color: rgba(56, 56, 56, 0.74);
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 14px;
  font-weight: 650;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: 50px;
}

thead > tr {
  color: white;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 14px;
  font-weight: 650;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: 50px;
}

.thead-dark {
  background-color: rgb(39, 39, 39);
}

.date-container {
  height: 450px;
  width: 700px;
  background-color: rgb(31, 31, 31);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
}

.big-date-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.p-info {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
}

.p-name {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 30px;
  font-size: 50px;
}

@media (max-width: 1200px) {
  .big-date-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .team-container {
    padding: 20px;
    padding-top: 40px;
    height: 132em;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }

  .logo-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 110px;
    height: 220px;
    width: 220px;
    margin-bottom: 40px;
  }
}

@media (max-width: 995px) {
  .team-container {
    height: 153em;
  }

  .logo-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 110px;
    height: 220px;
    width: 220px;
    margin-bottom: 40px;
  }

  .players-info {
    padding-top: 20px;
    background-color: darkblue;
    height: 80px;
    width: 656px;
    padding: 10px;
    padding-right: 10px;
    font-family: Roboto Condensed, Arial, sans-serif;
  }
}

@media (max-width: 767px) {
  .team-container {
    height: 180em;
  }

  .logo-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 110px;
    height: 220px;
    width: 220px;
    margin-bottom: 40px;
  }

  .players-info {
    padding-top: 20px;
    background-color: darkblue;
    height: 100px;
    width: 400px;
    padding: 10px;
    padding-right: 10px;
    font-family: Roboto Condensed, Arial, sans-serif;
  }

  .date-container {
    height: 920px;
    width: 400px;
    background-color: rgb(31, 31, 31);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
  }

  .players-info-container {
    margin-top: 490px;
  }

  .date-container > img {
    width: 400px;
    position: relative;
  }

  .p-name {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 50px;
  }

  .team-box-title {
    margin-top: 150px;
    margin-left: 0px;
    font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    width: 95%;
    height: 50px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.849);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub-team-box-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    width: 97%;
    height: 50px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.849);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
