main {
    margin: 20px;
}

.register-form-contrainer {
    margin-top: 120px;
}

.register-form-contrainer p {
    font-size: 2em;
    font-weight: bold;
}

.registerBTN {
    background-color: rgb(59, 97, 210);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px;
}