.team-box-title {
  margin-top: 150px;
  margin-left: 25px;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-container {
  padding-top: 40px;
  height: 65em;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

@media (max-width: 1400px) {
  .team-container {
    height: 85em;
  }
}

@media (max-width: 1000px) {
  .team-container {
    height: 160em;
    border-radius: 0%;
  }
}

.team-box {
  margin-left: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
  height: 220px;
  width: 410px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.team-box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.team-name {
  color: rgb(83, 83, 83);
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
}
