.team-box-title {
  margin-top: 150px;
  margin-left: 25px;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  width: 95%;
  height: 50px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-container {
  padding: 20px;
  padding-top: 40px;
  height: 65em;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.logo-box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 110px;
  height: 220px;
  width: 220px;
}

.team-name {
  color: rgb(83, 83, 83);
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.info-box {
  padding: 50px;
  height: 40em;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  flex-wrap: wrap;
}

.sub-title-box {
  display: flex;
}

.sub-title {
  margin-left: 15px;
  font-size: 10px;
  font-weight: 400;
}

.info-text {
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 20px;
  font-weight: 450;
}

textarea {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0);
  resize: none;
  border: none;
}

.players {
  margin: 5px;
}

.players-info-container {
  display: flex;
}

.players-numbox {
  background-color: darkblue;
  width: 60px;
  color: whitesmoke;
  font-family: Roboto Condensed, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.players-info {
  background-color: rgb(31, 31, 31);
  height: 80px;
  width: 220px;
  padding: 10px;
  padding-right: 30px;
  font-family: Roboto Condensed, Arial, sans-serif;
}

.playername-cn-posts {
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
}

.players-name-eng {
  color: whitesmoke;
  font-size: 12px;
}

.players-h-b-k {
  color: rgb(207, 207, 207);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
